/*Table*/

.rightWing {
    /*float: right;*/
    text-align: right;
}

.rowTwo {
    border-bottom: 1px solid #000000;
}
tbody tr:nth-child(2n-1)
{
    background-color: #dcf5f2;
}

tbody tr:nth-child(2n)
{
    background-color: #c8e6cb;
}

/*
.leftWing {
    float: left;
}
*/

/*.rowOne {
    border-top: 1px solid #000000;
}*/

/*Banners, Erros, Current Event, Hiding, Dialog Title Bar, Buttons made from text*/

.banner h3 {
    display: inline-block;
}

.user {
    float:right;
    display: inline-block;
}

.hideMe {
    display: none;
}

.currentEvent {
    background-color: #ce9797 !important;
}

.errorMe {
    color: #901414;
}

.ui-dialog-titlebar-close {
    display: none;
}

.text-btn {
    background-color: #d6d6d6;
    width: 10%;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid #ababab;
}
